<section>
  <p><img src="/images/mcarmstrong.jpg" width="260" height="209" /></p>
  <h1>About Me</h1>
  <p>M. C. Armstrong recently embedded with SEAL Team 4 in Haditha, Iraq.  He published extensively on the Iraq war through <em>The Winchester Star</em>.  He is the winner of a Pushcart Prize in fiction.  His work has appeared in <em>The Missouri Review</em>, <em>The Gettysburg Review</em>, <em>Dead Letters</em>, <em>Kearney Street Books</em>, <em>Mayday</em>, and other journals and anthologies. He is the co-founder and co-editor of <em>Convergence Review</em>. He is the lead guitarist and vocalist for Viva la Muerte.   He is currently at work on a novel about Khalid Sheikh Mohammed’s time as a student in America.</p>
  <a href="{{ root_url }}/biography.html">More About Me...</a>
</section>
