<ul class="main-navigation">
  <li><a href="{{ root_url }}/biography">Biography</a></li>
  <li><a href="{{ root_url }}/works">Works</a></li>
  <li><a href="{{ root_url }}/interviews">Interviews</a></li>
  <li><a href="{{ root_url }}/music">Music</a></li>
  <li><a href="mailto:null">Contact</a></li>
  <!-- <li><a href="{{ root_url }}/">Blog</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/archives">Archives</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/categories/works/">Works</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/categories/convergence-review/">Convergence Review</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/categories/brother-esau/">Brother Esau</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/categories/viva-la-muerte/">Viva La Muerte</a></li> -->
</ul>
