/* This File is imported last, and will override other styles in the cascade
/* Add styles here to make changes without digging in too much

html
  background: $page-bg image-url('background.jpg') top left

body
  header[role="banner"]
    background: $header-bg image-url('header-background.png') top left
    h2
      font-size: 0.6em
  #main
    #content
      .blog-index
        #image-highlights
          width: 800px
          margin: 20px auto 0px auto
      article:first-child
        padding-top: 0
      #page
        article:first-child
          header
            padding-top: 0

aside.sidebar section h1
  margin-top: 0.5em
